$dangerColor: firebrick;
$defaultColor: darkcyan;

.button {
    display: inline-block;
    padding: 10px;
    border-radius: 3px;
    margin: 10px;
    font-size: 1.2em;

    &.danger {
        background: $dangerColor;
        color: white;
    }

    &.default {
        background: $defaultColor;
        color: white;
    }
}